# Maven Target Folder
/target/

# Allure Reports
/allure-results/
/allure-report/

# Extent Reports
/HtmlReport/
/PdfReport/
/Reports/

# TestNG Reports
/test-output/

# Logs
/logs/

# Screenshots
/screenshots/

# IDE Files
/.classpath
/.project
/.settings/
/.idea/
/.vscode/

# OS Files
.DS_Store
Thumbs.db